@media (max-width: 1250px){
    #header{
        width: 100%;
    }

    #header #contenido_header{
        width: 100%;
    }

    #tarjetas{
        width:100%;
    }  

    .cards{
        width: 17%;
    }
    .cards p{
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    #lateral{
        width: 20%;
        margin-right:75px;
    }
    #contenido{
        width: 100%;
        margin-left: 20px;
    }
    #contenido .titulo{
        width: 71%;
    }
    #contenido .articulos{
        width: 67%;
    }
    #contenido .articulos span{
        font-size: 12px;
    }
    #caja_banner{
        width: 90%;
    }
    #caja_banner #banner{
        width: 98%;
    }
    footer #menu_footer,
    footer #ubicacion,
    footer #desarrollo{
        width: 26%;
        margin: 30px;
        margin-left: 35px;
    }
    footer #desarrollo{
        width: 27%;
    }
    footer #desarrollo .iconito{
        width: 10%;
        margin:9px;
        margin-top: 20px;
    }
    footer .titulo_footer{
        width: 100%;
    }
    footer .titulo_footer h1{
        font-size: 30px;
    }
}

@media (max-width: 1100px){
    #tarjetas .cards .category{
        font-size: 17px;
    }

    #tarjetas .cards .contenido{
        font-size: 14px;
    }
    #contenido .articulos {
        width: 62%;
    }
    #contenido .titulo{
        width:66%;
    }
    #lateral{
        margin-right: 100px;
    }
    #contenido .articulos span{
        font-size: 10px;
    }
}

@media (max-width:1000px){
    .cards{
        width: 16%;
        margin-left: 14px;
    }
    #contenido .articulos{
        width: 60%;
    }
    #contenido .titulo{
        width: 64%;
    }
    #lateral{
        margin-right: 120px;
    }
    #caja_banner #banner{
        width: 97%;
    }
    #caja_banner #banner h1{
        font-size: 30px;
    }
    footer #desarrollo .iconito{
        margin-left: 5px;
    }
    footer #desarrollo #html{
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 930px){
    #lateral .titulo{
        width: 100%;
        margin-left: 50px;
    }
    #lateral .titulo h1{
        font-size: 20px;
    }
    #contenido .articulos span{
        width: 180px;
    }
    footer #menu_footer,
    footer #ubicacion,
    footer #desarrollo{
        margin-left: 30px;
    }
}

@media (max-width: 858px){

    footer #menu_footer,
    footer #ubicacion,
    footer #desarrollo{
        margin-left: 25px;
    }
}

@media (max-width: 826px){
    .cards{
        width: 14%;
        text-align: center;
        margin-left: 25px;
        height: 125px;
        padding-bottom: 40px;
        margin-top: 20px;
    }
    #tarjetas .cards .sticker{
        font-size: 25px;
        text-align: center;
    }
    #tarjetas .cards .category{
        font-size: 15px;
    }
    #tarjetas .cards .contenido{
        display: none;
    }
    #contenido{
        clear: both;
        width: 100%;
    }
    #contenido .titulo{
        width: 95%;
    }
    #contenido .articulos{
        width: 90%;
    }
    #lateral{
        width: 80%;
        margin-top: 20px;
    }
    #lateral .titulo h1{
        text-align: center;
        font-size: 30px;
    }
    #lateral #formulario,
    #lateral #redes{
        margin-left: 40%;
    }
    #lateral #login,
    #lateral #colaboradores{
        margin-left: 39%;
    }
    #lateral #redes{
        margin-left: 45%;
    }
    footer #desarrollo,
    footer #menu_footer,
    footer #ubicacion{
        margin-left: 20px;
    }
    footer #desarrollo #html{
        width: 108%
    }
    footer #desarrollo .iconito{
        margin-left: 2%;
    }
    footer .titulo_footer h1{
        font-size: 25px;
    }
}

@media (max-width: 715px){
    footer{
        min-height: 1000px;
    }
    footer #menu_footer,
    footer #ubicacion{
        width: 40%;  
        margin-left: 35px;  
    }
    footer #desarrollo{
        width: 40%;  
        margin-left: 30%;
    }
    #lateral{
        margin-top: 20px;
    }
    #tarjetas{
        margin-left: 15px;
    }
    .cards{
        margin-top: 20px;
        width: 16%;
        margin-left: 5px;
    }
}

@media (max-width: 668px){
    #caja_banner #banner h1 {
        font-size: 24px;
    }
}
@media (max-width: 650px){
    #header{
        height: 119px;
        text-align: center;
    }
    #header #contenido_header #logo{
        clear: both;
        float: none;
    }
    #header #contenido_header #menu{
        float: none;
        margin:0 auto;
        width: 434px;
    }
    #header #contenido_header #logo{
        margin:0 auto;
    }
    
    footer #menu_footer,
    footer #ubicacion{
        margin-left: 0px;
    }
    footer #menu_footer{
        margin-left: 30px;
    }
}

@media (max-width: 556px){
    #caja_banner #banner h1 {
        font-size: 19px;
    }
    #contenido .articulos {
        width: 85%;
    }
    #contenido .articulos p{
        font-size: 14px;
    }
    #contenido .titulo {
        width: 92%;
    }
    .cards {
        width: 27%;
    }
    #tarjetas #internet,
    #tarjetas #basesDeDatos{
        margin-left: 12%;
    }
    #lateral #login, #lateral #colaboradores {
        margin-left: 35%;
    }
    #lateral .titulo{
        margin-left: 71px;
    }
}

@media (max-width: 481px){
    footer #desarrollo{
        width: 43%; 
    }
}

@media (max-width: 461px){
    #caja_banner #banner h1 {
        font-size: 15px;
    }
}

@media (max-width: 457px){
    #contenido .articulos p{
        font-size: 12px;
    }
    footer{
        height: 1300px;
    }
    footer #menu_footer,
    footer #ubicacion,
    footer #desarrollo{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        margin-right: 5%;
        margin-left: 5%;
    }
    footer #desarrollo #html{
        width: auto;
        margin-left: 20%;
    }
    footer #desarrollo .iconito{
        margin-left: 4%;
    }
}

@media (max-width: 425px){
    #contenido .articulos{
        width: 88%;
        margin-left: -10px;
    }
    #contenido .articulos span{
        width: 40%;
        padding: 0 auto;
        font-size: 8px;
    }
    #header{
        height:300px;
        width: 100%;
    }
    #header #contenido_header #menu{
        float: none;
        margin:0 auto;
        width: 90%;
    }
    #header #contenido_header #menu ul li{
        width: 100%;
        text-align: left;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
    }
    #header #contenido_header #menu ul li a{
        width: 100%;
    }
    #header #contenido_header #logo{
        float: left;
        margin: 10px;
    }
    #header #contenido_header #menu ul li a:hover{
        color: #37bcf9;
        transform: scale(1, 1);
    }
    #caja_banner{
        padding-right: 2%;
    }
    #lateral .titulo{
        width: 112%;
    }
}

@media (max-width: 374px){
    footer #desarrollo .iconito{
        margin-left: 3%;
    }
    footer #desarrollo #html{
        margin-left: 12%;
    }
}